<div class="modal-header" [ngClass]="{ 'bg-primary' : !edit, 'bg-warning' : edit }">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onDecline()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="AcademicLevelForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row">


      <div class="col-md-12">
        <div class="form-group">
          <label class="col-md-2 pl-0 required" [ngClass]="{'text-danger' : formErrors.name}" for="name">Nom</label>
          <input id="name" formControlName="name" type="text" class="col-md-9 form-control-sm"
            [ngClass]="{'error' : formErrors.name}" (blur)="logValidationErrors()">
          <div class="offset-3">
            <label id="nom" class="text-danger" for="name" [hidden]="!formErrors.name">{{ formErrors?.name}}</label>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="form-group">
          <label class="col-md-2 pl-0" for="bac_level" [ngClass]="{'text-danger' : formErrors.bac_level}">Années Après le Bac</label>
          <input id="bac_level" formControlName="bac_level" type="text" class="col-md-10 form-control-sm"
            [ngClass]="{'error' : formErrors.bac_level}" (blur)="logValidationErrors()">
          <div class="offset-3">
            <label id="bac_level" class="text-danger" for="bac_level" [hidden]="!formErrors.bac_level">{{
              formErrors?.bac_level}}</label>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onDecline()">Annuler</button>
    <button type="button" class="btn " [ngClass]="{ 'btn-primary' : !edit, 'btn-warning' : edit }" (click)="onSubmit()"
    [disabled]="AcademicLevelForm.invalid">{{SubmitBtnTitle}}</button>
  </div>
</form>