<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Institutions </h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/admin']">Page d'accueil</a>
      </li>
      <li class="breadcrumb-item active">
        <a [routerLink]="['/admin/institutions']">Institutions</a>
      </li>
      <!-- <li class="breadcrumb-item active">
        <strong>Product list</strong>
      </li> -->
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

  <button (click)="openModalFormInstitution()" type="button"
    class="btn btn-block btn-outline btn-primary m-b-md  ">Nouvelle
    Institution</button>

<!-- 
  <div class="ibox-content m-b-xs   border-bottom">
    <div class="row m-t-md">
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-lg-1 col-form-label   pr-0">Afficher</label>
          <div class="col-lg-2">
            <select class="form-control-sm" name="perPage" [(ngModel)]="perPage">
              <option value=5 selected>5</option>
              <option value=10>10</option>
              <option value=25>25</option>
              <option value=50>50</option>
              <option value=100>100</option>
            </select>
          </div>
          <label class="col-md-1 col-form-label   pl-1">Élément</label>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" placeholder="Recherche..." class="offset-4 col-md-8 form-control-sm">
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-lg-12">

      <!-- <ngx-datatable #table class="material  " [sortType]="'single'" [reorderable]="false" [rows]="rows"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="80" [messages]="tableMessages"
        [limit]="perPage" [loadingIndicator]="loadingIndicator" [selectionType]="'single'">

        <ngx-datatable-column name="logo" headerClass="text-center" cellClass="text-center">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex='rowIndex'>
            <div class="img-preview img-preview-sm">
              <img [src]="logoUrl" class="img-md">
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="NAME"></ngx-datatable-column>
        <ngx-datatable-column name="CATEGORY">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.category?.name}}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column prop="country_seat" name="COUNTRY"></ngx-datatable-column>
        <ngx-datatable-column prop="web_site" name="WEB"></ngx-datatable-column>
        <ngx-datatable-column name="EMAIL"></ngx-datatable-column>



        <ngx-datatable-column name="ACTIONS" headerClass="text-center" cellClass="text-center">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex='rowIndex'>
            <div class="btn-group">
              <button (click)="
goToInfoInstitution(row.id)" class="btn btn-primary btn-xs">Info</button>
              <button (click)="
openModalFormInstitution(row.id)" class="btn btn-warning btn-xs">Éditer</button>
              <button (click)="
onDelete(row.id)" class="btn btn-danger btn-xs">Supprimer</button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable> -->

    </div>

  </div>




  <div class="search-div">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput type="text" [(ngModel)]="searchKey" placeholder="Chercher ..." autocomplete="on"
          (keyup)="applyFilter()">
        <button class="btn btn-primary btn-outline btn-circle" type="button" matSuffix aria-label="Clear"
          *ngIf="searchKey" (click)="onSearchClear()">
          <i class="far fa-times-circle"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
  
      <mat-table [(dataSource)]="dataSource" matSort>
  
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Position Column -->
  
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button (click)="openModalFormInstitution(row.id )" class="btn btn-outline btn-primary dim"
              type="button">
              <i class="fa fa-edit"></i>
            </button>
            <button (click)="
            onClickDelete(row.id)" class="btn btn-outline btn-danger dim" type="button">
              <i class="fa fa-trash"></i>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            loading data ...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            noData </mat-footer-cell>
        </ng-container>
  
  
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']"
          [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)} "></mat-footer-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


</div>
