<div id="wrapper">
  <app-nav-left></app-nav-left>
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <app-nav-bar-top></app-nav-bar-top>


    <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner> -->
    <!--body-->

    <!-- <div *ngIf="showLoadingIndicator">

    </div> -->
    <router-outlet></router-outlet>

    <!--body-->
    <!-- <app-footer></app-footer> -->
  </div>

</div>
